aside {
  float:right;
  width: 1/3;
  min-width: 300px;
  border-radius: 20px;
  padding: 20px;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  font-style: normal;
  color: white;
  font-family: cursive;
  font: verdana;
}

#rainbow{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  filter:
  object-fit: cover;
  width: 650;
  height: auto;
}

html{
  background-image: repeating-radial-gradient(yellow, red 10%, cyan 15%);
}

#txt-content{
 border: double 6px blue;
}
p{
  font-style: normal;
  color:blue;
}

h2{
  text-decoration: underline;
  color: cyan;
}

main{
  padding-left: 30px;
  padding-right: 30px;
}

header{
  font-style: normal;
  font-size: 30px;
  color:red;
  font-family: "Trirong", serif;
  padding: 30px;
  text-shadow: 1px 1px 6px orange, 0 0 15px cyan,0 0 15px orange;
}
header:hover{
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#rainbow1{
  float:right;
  padding-right: 40px;
  padding-top: 40px;
}
#rainbow1:hover, #important:hover{
  filter: blur(4px);
}

#rainbow2{
  padding-left: 30px;
  padding-top: 40px;
}
