body {
  background-color: pink;
}
h1 {
  font-family: arial;
  color: black;
}
h2 {
  font-family: arial;
  color: white;
}

p {
  font-family: arial;
  color: white;
}

p{
  margin-top: 10px;
  margin-bottom: 20px;
}

div{
  border:dotted 2px pink;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
img {
    float: right;
    width: 250px;
    height: auto;
}
