#selfie{
  float:right;
}
#selfie:hover{
  filter:invert(80%);
}
body{
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
main{
  background-color:rgba(0,0,0,0.75);
  padding: 15px;
  padding-bottom: 25px;
  border: dotted 2px grey;
}


h1{
  font-style: normal;
  color:rgb(213,17,17);
  align-content: center;
  font-family: "Trirong", serif;
}

p, .p1, .p2 {
  font-style: normal;
  color: white;
}

#labs{
  background-color:rgba(0,0,0,0.75);
  padding: 15px;
  display: inline-block;
  font-style: normal;
  color: white;
}
#marceline{
  float: right;
}
#cme{
padding-left:50px;
}
