#content{
  padding: 30px;

}

html{
  background-color: rgb(148,113,154)
}

h1{
    font-style: normal;
    color: black;
    text-align: center;
    font-family: "Trirong", serif;
    text-shadow: 1px 0px 2px white, 0 0 15px black,0 0 5px black;
  }

div{
  font-family: "Trirong", serif;
}
